@font-face {
    font-family: 'AlibabaPuhuiTi';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/AlibabaPuHuiTi-3-55-Regular.woff') format('woff');
}

@font-face {
    font-family: 'AlibabaPuhuiTi';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/AlibabaPuHuiTi-3-85-Bold.woff') format('woff');
}

@font-face {
    font-family: 'AlibabaPuhuiTi';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/AlibabaPuHuiTi-3-45-Light.woff') format('woff');
}

html {
    @apply font-sans;
}