.clickable:not([disabled]) {
    --range: var(--custom-clickable-range, 1%);
    @apply transition-all duration-150 ease-in scale-100 hover:scale-[calc(100%+var(--range))];
    &:active,
    &.enable-clickable {
        @apply scale-[calc(100%-var(--range))];
    }
}

.hoverable {
    @apply overflow-hidden;
    &::after {
        @apply rounded-[inherit] -z-10 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full bg-current scale-75 transition-all duration-150 content-['_'] opacity-0;
    }
    &:hover::after,
    &.enable-hoverable::after {
        @apply opacity-[10%] scale-100 bg-[var(--custom-hoverable-bg,currentColor)] shadow-current;
    }
}

.hideable-scrollbar-wrapper {
    & ::-webkit-scrollbar-thumb {
        visibility: hidden;
    }
    &:hover ::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}

.linear-hover {
    background-image: linear-gradient(90deg,#65DAFB 0%,#0477FD 100%);
    
    &::before {
        position: absolute;
        content: " ";
        inset: 0;
        background-image: linear-gradient(270deg, #65DAFB 0%, #0477FD 100%);
        z-index: -1;
        transition: opacity 0.25s linear;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
    }
}

.fake-border-l {
    @apply relative pl-4;
    &::before {
        @apply absolute left-0 top-0 w-[4px] h-full bg-blue-600 rounded-2xl content-['_'];
    }
}

table {

    @apply w-full;

    thead {
        @apply bg-[#F6F8FD];
    }

    tbody tr {
        @apply border-b;
    }

    th, td {
        &:not(.not-default-style) {
            @apply py-3 px-6 text-left font-normal text-sm truncate;
        }
    }
}
.listRightSticky{
    right: 0;
    padding: 0;
    text-align: center;
    z-index: 9999;
    overflow: hidden;
    position:sticky;
    
    &::before {
        box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, .15);
        content: "";
        position: absolute;
        top: 0;
        width: 10px;
        left: -5px;
        bottom: -1px;
        overflow-x: hidden;
        overflow-y: hidden;
        touch-action: none;
        pointer-events: none;
    }

}